새로운 방 만들기

<form action="/soccer/create" method="post">
  <input name="authenticity_token" type="hidden" value=<%= @token %> />
  <input name="room_name", placeholder="방제목을 입력하세요"></input>
  <input name="site", placeholder="경기지역을 입력하세요"></input>
  <input type="date", name="date", placeholder="경기날짜를 입력하세요"></input>
  <input type="submit"></input>
</form>